.rec-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0b4870;
}

.rec-card {
  background: white;
  width: 360px;
  padding: 32px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);

  display: flex;
  flex-direction: column;
  gap: 18px;
}

.rec-title {
  text-align: center;
  color: #0b4870;
  font-size: 26px;
  margin: 0;
}

.rec-subtitle {
  text-align: center;
  font-size: 14px;
  color: #555;
  margin-top: -6px;
}

.rec-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.rec-input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.rec-button {
  background: #ff7a00;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
}

.rec-back {
  margin-top: 10px;
  text-align: center;
}

.rec-back a {
  color: #0b4870;
  cursor: pointer;
  text-decoration: underline;
}

/* ESTILO DO 'ESQUECI MINHA SENHA' DO LOGIN */
.forgot-password-text {
  text-align: center;
  margin-top: -4px;
}

.forgot-password-text span {
  color: #ff7a00;
  cursor: pointer;
  font-size: 14px;
}

.rec-back-btn {
  background: none;
  border: none;
  color: #0b4870;
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;
}

